# 0 Import Modules

In [12]:
import numpy as np
import pandas as pd

# 1 Data Preparation

In [7]:
s = """Сельское хозяйство
Легкая промышленность
Тяжелая промышленность группы А
Тяжелая промышленность группы Б
Военно промышленный комплекс
Наука
Химическая промышленность """
all_sectors = s.split('\n')

In [8]:
rep = """1. Амурская область (Благовещенск)
2. Архангельская область (Архангельск)
3. Астраханская область (Астрахань)
4. Белгородская область (Белгород)
5. Брянская область (Брянск)
6. Челябинская область (Челябинск)
7. Иркутская область (Иркутск)
8. Ивановская область (Иваново)
9. Калининградская область (Калининград)
10. Калужская область (Калуга)"""
all_republics = rep.split('\n')
all_republics = [el.split('. ')[1] for el in all_republics]

In [17]:
features = np.concatenate((['republics'], all_sectors))
df = pd.DataFrame(columns=features)
df

Empty DataFrame
Columns: [republics, Сельское хозяйство, Легкая промышленность, Тяжелая промышленность группы А, Тяжелая промышленность группы Б, Военно промышленный комплекс, Наука, Химическая промышленность ]
Index: []

In [18]:
degrees = [-1, 0, 1]

# 2 Create main dataframe

In [19]:
amount = int(input('Количество республик: '))

In [23]:
republics = np.random.choice(all_republics, amount)
df['republics'] = republics
df.head()

,republics,Сельское хозяйство,Легкая промышленность,Тяжелая промышленность группы А,Тяжелая промышленность группы Б,Военно промышленный комплекс,Наука,Химическая промышленность
0,Иркутская область (Иркутск),NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Иркутская область (Иркутск),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Амурская область (Благовещенск),NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Амурская область (Благовещенск),NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Амурская область (Благовещенск),NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
for sector in all_sectors:
    temp_vector = np.random.choice(degrees, amount)
    df[sector] = temp_vector

df.head()

,republics,Сельское хозяйство,Легкая промышленность,Тяжелая промышленность группы А,Тяжелая промышленность группы Б,Военно промышленный комплекс,Наука,Химическая промышленность
0,Иркутская область (Иркутск),1,0,1,0,0,1,1
1,Иркутская область (Иркутск),1,-1,1,0,1,-1,-1
2,Амурская область (Благовещенск),0,0,0,-1,-1,0,0
3,Амурская область (Благовещенск),-1,-1,0,0,1,0,1
4,Амурская область (Благовещенск),-1,-1,1,1,0,0,1

# 3 Get Statistics

In [47]:
freq_df = df.apply(lambda x: x.value_counts()).iloc[:3].drop(columns=['republics'])
freq_df

,Сельское хозяйство,Легкая промышленность,Тяжелая промышленность группы А,Тяжелая промышленность группы Б,Военно промышленный комплекс,Наука,Химическая промышленность
-1,35.0,36.0,35.0,32.0,37.0,31.0,34.0
0,33.0,33.0,27.0,31.0,40.0,37.0,27.0
1,32.0,31.0,38.0,37.0,23.0,32.0,39.0

In [66]:
def get_statistics(data, name='ОТРАСЛЬ'):
    s = f'Самая {name} отрасль:'
    print(s)
    print('-'*len(s))
    print(data.idxmax())
    print(f'Количество отстающих в отрасли: {data.max()}')

## 3.1 Самая отстающая отрасль в союзных республиках (наиболее часто встречающая слабо развитая отрасль у всех) и насколько она отстающая (количество отстающих в отрасли)

In [67]:
get_statistics(freq_df.iloc[0], name='отстающая')

Самая отстающая отрасль:
------------------------
Военно промышленный комплекс
Количество отстающих в отрасли: 37.0

## 3.2 Самая развитая отрасль ( наиболее часто встречающая избыточно развитая отрасль у всех) и насколько она развитая (количество развитых в отрасли)

In [69]:
get_statistics(freq_df.iloc[2], name='развитая')

Самая развитая отрасль:
-----------------------
Химическая промышленность
Количество отстающих в отрасли: 39.0

## 3.3 Самая сбалансированная отрасль ( тоже самое только с сбалансированным развитием) и насколько она сбалансированная (количество сбалансированных в отрасли )

In [70]:
get_statistics(freq_df.iloc[1], name='сбалансированная')

Самая сбалансированная отрасль:
-------------------------------
Военно промышленный комплекс
Количество отстающих в отрасли: 40.0

## 3.5 статистика отраслей отраслей (сумма между избыточно развитыми и слаборазвитыми в одно отрасли по всем республикам)

In [74]:
freq_df.iloc[[0, -1]].sum(axis=0)

Сельское хозяйство                 67.0
Легкая промышленность              67.0
Тяжелая промышленность группы А    73.0
Тяжелая промышленность группы Б    69.0
Военно промышленный комплекс       60.0
Наука                              63.0
Химическая промышленность          73.0
dtype: float64